<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Sticky header -->
<header class="header-outer">
    <div class="header-inner responsive-wrapper">
        <div class="header-logo">
            <h1>Prerak Shah</h1>
        </div>
        <nav class="header-navigation">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('experience') }}">Experience</a>
            <a href="{{ url_for('education') }}">Education</a>
            <a href="{{ url_for('skills') }}">Skills</a>
        </nav>
    </div>
</header>
<!-- Content -->
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>
</body>
</html>
