{% extends "base.html" %}

{% block title %}Education{% endblock %}

{% block content %}
    <h2>Education</h2>
    <h3>Artificial Intelligence Analysis, Design, and Implementation (Aug 2024)</h3>
    <p>Durham College, Ontario, CA</p>
    <p>Concentrations: Visualization & Data Storytelling, AI in Enterprise Systems, Knowledge and Expert System</p>
    <p>Courses: Python, Machine Learning, Microsoft Co-pilot, Applied Maths, AWS, GCP, TensorFlow</p>

    <h3>Data Analytics for Business Decision Making (Dec 2023)</h3>
    <p>Durham College, Ontario, CA</p>
    <p>Concentrations: Statistical Predictive Modeling, Business Analysis, Data Collection and Management</p>
    <p>Courses: Python, R Studio, Tableau, Power BI, GitHub, Storytelling, Presentation Skills, Apache Kafka</p>

    <h3>Master of Computer Application (MCA) (Jun 2020)</h3>
    <p>Atmiya University, Gujarat, IN</p>

    <h3>Bachelor of Computer Application (BCA) (Jun 2018)</h3>
    <p>Saurashtra University, Gujarat, IN</p>
{% endblock %}
