{% extends "base.html" %}

{% block title %}Experience{% endblock %}

{% block content %}
    <h2>Experience</h2>
    <h3>Amenity Technologies, Gujarat, India (Python Developer, Oct 2022 – Mar 2023)</h3>
    <ul>
        <li>Spearheaded backend development for a fitness app, boosting efficiency by 20% through seamless integration of database models and third-party tools using Django Rest Framework.</li>
        <li>Developed a machine learning model that increased ad viewership by 15% by predicting optimal ad placements based on location and time.</li>
        <li>Engineered a Shopify app for quiz and product recommendations, enhancing user engagement by 25% using FastAPI.</li>
    </ul>

    <h3>Trellissoft INC., Gujarat, India (Software Engineer, Jan 2020 – Aug 2022)</h3>
    <ul>
        <li>Developed key modules in Supply Chain Finance and Bill Discounting, accelerating processing time by 30% using Django Rest Framework.</li>
        <li>Actively collaborated with clients and team leads, improving project design and delivery timelines by 10% through effective communication and requirement gathering.</li>
        <li>Integrated third-party tools and modules, enhancing system functionality and reducing integration time by 20%.</li>
        <li>Led cross-functional collaboration with development and testing teams, delivering robust solutions that met 100% of client requirements on time.</li>
        <li>Managed project modules and team activities, improving team efficiency by 15% through streamlined project management practices.</li>
    </ul>
{% endblock %}
