{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="main">
    <div class="main-content responsive-wrapper">
        <article class="widget">
            <h2>Welcome to my Proffessional Life.</h2>
            <p> I’m a passionate <strong>Python Developer</strong> with a solid foundation in software engineering. My experience spans backend development, machine learning, and full-stack solutions. At Trellissoft INC, I played a key role in enhancing Supply Chain Finance by accelerating processing times and integrating third-party tools.

            <p> At Amenity Technologies, <strong>I led the backend development</strong> of a fitness app, boosting efficiency by 20%. My work in machine learning resulted in a model that increased ad viewership by 15%, and I engineered a Shopify app that significantly improved user engagement.

            <p> My academic background in Artificial Intelligence and Data Analytics complements my technical experience. I hold advanced certifications from Durham College, Ontario, and a Master of Computer Application (MCA) from Atmiya University, Gujarat.

            <p> I’m always eager to connect with professionals in the tech industry. Let’s connect on LinkedIn to explore collaboration opportunities and share insights!
            <p></p>
        </article>
    </div>
</main>
{% endblock %}
